/* --------Configurações Gerais------ */
html{
    scroll-behavior:smooth;
}
body{
    margin:0%;
    padding: 0%;
    background-image: url(../assets/primeiro_back.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    
    /* --font-- */
    font-size: 1rem;
    font-family: 'Balsamiq Sans', cursive;
 }


/* --------Cabeçalho----------- */
header{
    background-color: rgb(75, 18, 18);
    color:wheat;
    margin: 0%;
    padding: 0%;
    width: auto;
    height: auto;

}
.menu{
    width:55%;
    padding: 0%;
    margin-left: 35%;
    margin-top: 0%;
}
.list_menu{
    display: inline-block;
    padding: 1%;

    /* font */
    list-style-type: none;
    color: wheat;
    text-decoration: none;
}
.list_menu:hover{
    color: rgb(122, 101, 60);
    transition: 1s;
}
/* ----------Página inicial------------ */
#home{
    margin: 0%;
    padding: 0%;
    
    /* font */

    color: papayawhip;
}
.grupo_home{
    
    text-align: center;
    margin: 17%;

    /* font */
    font-family: 'Grand Hotel', cursive;
    font-size: 3em;
}

/* -------------Sobre min--------------------- */
#corpo{
    background-color: plum;
    width: auto;
    height: 42rem;
    margin: 0%;
    padding: 0%;
    position: relative;
    
    /* font */
    color: rgb(241, 229, 229);
}
.p_corpo{
    padding: 1%;

    display: inline-block;
    width: 50%;
    height: 50%;
    float: right;
    margin-top: 7%;
    margin-left: 5%;
    position: absolute;
     /* font */

     font-size: 105%;
     text-align: justify;
}
.h3_corpo{

    display: inline-block;
    width: 25%;
    margin-top: 17%;
    margin-left: 5%;
    margin-right: 2%;

    /* font */

    font-size: 150%;


}
/* ----------------------Meio----------------------- */
#corpo_sabores{
    background-color: powderblue;
    width: auto;
    height:50rem;
    margin: auto;
    position: relative;
}
.h3_corp_sabores{
    text-align: center;
    width: 15%;
    height: auto;
    margin: auto;
    padding-top: 3%;

    /* font */
    font-size: 150%;
}
.p_corp_sabores{
    text-align: center;
    width: 90%;
    margin: 3%;
}
.img_corp_sabores{
    width: 250px;
    height:290px;
    display: inline-block;
    margin-left: 3%;
    border-radius: 2px;
    box-shadow:2px 2px 20px cadetblue;
}
figure{
    margin-top: 4%;
    width: 80%;
    margin-left:15%;
    position:absolute;

}
/* --------------------------Segundo-Meio-------------------- */

#corpo_produz{
    background-color: rgb(46, 167, 126);
    width: auto;
    height: 40rem;
    margin: 0%;
    padding: 0%;
    position: relative;
    /* font */
    color: rgb(226, 226, 226);

}
.p_corp_produz{
    padding: 1%;
    display: inline-block;
    width: 50%;
    height: 50%;
    float: right;
    margin-top: 5%;
    margin-left: 40%;
    position: absolute;

    text-align: justify;
}
.img_produz{
    width: 29vw;
    margin: 4%;
    position: absolute;
    border-radius: 2px;
    box-shadow:2px 2px 20px rgb(30, 92, 71);
}
/* --------------------------------Final------------------------------ 
*/
#rodape{
    background-color: rgb(255, 255, 255);
    width: auto;
    height: auto;
    margin: 0%;
    padding: 7%;
    position: relative;

    /* font */
    color: rgb(58, 21, 21);

}
input{
    display: block;
    margin-top: 0.6%;
    width: 33vw;
    height: 16px;
    border: 2px solid brown;
    border-radius: 3px;
    padding: 0.8%;
}
textarea{
    display: block;
    margin-top: 0.6%;
    padding: 1%;
    width: 33vw;
    height: 150px;
    border: 2px solid brown;
    border-radius: 3px;
}
.ul_rodape{
    margin: 2%;
    list-style: none;
}
.botao_rodape{
    width:15vw;
    height: 35px;
    background-color: rgb(170, 63, 63);
    padding: 1%;
    border-radius: 10px;

    /* font */
    color: burlywood;

}

/* -----------------------------Rodapé-------------------------------------------- */
footer{
    background-color:brown;
    text-align: center;
    padding: 1%;

    /* font */
    color: burlywood;
}



@media screen and (max-width: 700px) {
    /* --------Configurações Gerais------ */
body{
        width: auto;
        background-size: cover;
        background-position: center;
}

/* --------Cabeçalho----------- */
 .menu{
    width:90%;
    padding: 0%;
    margin:auto;
}
.list_menu{
    display: block;
    padding: 3%;
    border-bottom: 2px double wheat;

    /* font */
    font-size: 24px;
}


/* ----------Página inicial------------ */
.grupo_home{
    margin-top:40%;
    margin-bottom: 40%;

    /* font */
    font-size: 1.9em;
}


/* -------------Sobre min--------------------- */
#corpo{
    width: auto;
    height: 52rem;
}
.p_corpo{
    padding: 1%;
    display: block;
    width: 90%;
    position: absolute;

}
.h3_corpo{

    display: inline-block;
    width: 50%;
    margin-top: 10%;
}

/* ----------------------Meio----------------------- */
#corpo_sabores{
    width: auto;
    height:70rem;
}
.h3_corp_sabores{
    width: auto;
}
.p_corp_sabores{
    width: 90%;
    margin:auto;
}
.img_corp_sabores{
    display: block;
    margin:auto;
}


#corpo_produz{
    background-color: rgb(46, 167, 126);
    width: auto;
    height: 45rem;
    margin: 0%;
    padding: 0%;
    position: relative;
    /* font */
    color: rgb(226, 226, 226);

}
.p_corp_produz{
    padding: 1%;
    display: block;
    width: 90%;
    height:auto;
    margin: 5%;

}
.img_produz{
    width: 210px;
    margin: 5%;
    bottom: 6%;
    display: block;

}

}